
.App {
  /* background-color: rgba(255, 255, 255, 0.929); */
  background-color: #e8eafae8;
  min-height: 80vh;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  padding: 25px;
  box-shadow: 5px 10px 18px #383843b7;
    /* box-shadow: 5px 10px 18px #3a3d58e8; */
}

body {
  background-image: url(planning.jpg);
  background-color: #f1ba00;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crossed {
  text-decoration: line-through red;
}

.grey {
  /* background-color: #e8eafae8; */
  background-color: rgba(255, 255, 255, 0.929);
  width: 450px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-family: 'Shantell Sans', cursive;
  font-size: 25px;
  color: #585151;
}

h1 {
  font-family: 'Shantell Sans', cursive;
  color: blueviolet

}

input {
  border: none;
  padding: 15px;
  border: 2px solid blueviolet;
  color: rgb(55, 18, 89);
  font-family: 'Shantell Sans', cursive;
  font-size: 15px;
  width: 250px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.919);
  font-family: 'Shantell Sans', cursive;
  padding: 17px;
  font-size: 15px;
  border: none;
}

.add {
  color: white;
  background-color: blueviolet;
}

.delete {
  color: orangered;
  border: 2px solid orangered;
  }

  .delete:hover {
    color: white;
    background-color: orangered;
    }